<template>
  <div class="home">
    <HomeComp msg="Welcome to Estate Agent Appointmend Manager"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeComp from '@/components/HomeComp.vue';

export default {
  name: 'Home',
  components: {
    HomeComp,
  },
};
</script>
